<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Booking Confirmation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: white;
            margin: 0;
            padding: 0;
        }

        .container {
            overflow: hidden;
            width: 600px;
            margin: 50px auto;
            border: 1px solid #ccc;
            border-radius: 20px;
            overflow: hidden;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: white;
        }

        .ticket {
            position: relative;
        }

        .header {
            background-color: black;
            color: white;
            text-align: center;
            padding: 10px 0;
            position: relative;
        }

        .content {
            padding: 20px;
            padding-bottom: 50px;
            text-align: center;
            position: relative;
        }

        .quantity {
            position: absolute;
            right: 30px;
            bottom: 30px;
            background-color: black;
            padding: 2% 4%;
            color: white;
            width: fit-content;
            font-weight: 700;
            border-radius: 100px;
        }

        .qr-code img {
            width: 50%;
            height: auto;
        }

        .qr-code h2 {
            font-size: 0.9rem;
            margin-bottom: 0;
        }

        .qr-code p {
            color: rgb(130, 130, 130);
            font-size: 0.75rem;
            margin: 0;
        }

        .details-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 5% 0;
        }

        .left {
            width: 60%;
        }

        .right {
            width: 40%;
            padding: 5%;
            padding-top: 1.5rem;
        }

        .right-details {
            border: 1px solid rgb(102, 102, 102);
            border-radius: 10px;
            text-align: center;
            padding: 5%;
            padding-bottom: 0;
        }

        .right-details h3 {
            font-size: 7rem;
            margin: 0;
            margin-top: 10%;
            padding: 0;
            line-height: 5.5rem;
        }

        .right-details h4 {
            margin: 0;
            font-size: 1.4rem;
        }

        .right-details h5 {
            margin: 10% 0;
            font-size: 1.4rem;
        }

        .right-details p {
            margin: 10% 0;
        }


        .details {
            padding: 0 3rem;
            margin: 30px 0;
            text-align: left;
        }

        .details h2 {
            margin-bottom: 10px;
            font-size: 18px;
            padding-bottom: 0px;
        }

        .details p {
            margin: 5px 0;
            font-size: 0.8rem;
        }

        .border-dashed {
            border-bottom: 4px dashed rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            border-spacing: 50px;
            position: relative;
            max-height: 4px;
        }

        .footer {
            background-color: black;
            text-align: center;
            padding: 5%;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="ticket">
            <div class="header">
                <h1>Booking Confirmation</h1>
            </div>
            <div class="content">
                <p>{{firstname}}, your booking has been confirmed!</p>
                <div class="quantity">{{totalQuantity}}</div>
                <div class="qr-code">
                    <img src={{image}} alt="QR Code">
                    <h2>Booking ID</h2>
                    <p>#{{bookingId}}</p>
                </div>
            </div>
            <div class="border-dashed"></div>
            <div class="details-container">
                <div class="left">
                    <div class="details">
                        <h2>Booking Details</h2>
                        <p><b>Transaction ID:</b> {{transactionId}}</p>
                        <p><b>Order Amount:</b> INR {{amount}}</p>
                        <p><b>Convenience Fee</b>: INR {{convenienceFee}}</p>
                        <p><b>Platform Fee</b>: INR {{platformFee}}</p>
                        <p><b>Total</b>: INR {{totalAmount}}</p>
                    </div>
                    <div class="details">
                        <h2>Event Details</h2>
                        <p><b>Name</b>: {{eventTitle}}</p>
                        <h3><b>{{tickets}}</b></h3>
                    </div>
                    <div class="details">
                        <h2>Ticket Details</h2>
                        <p><b>Name</b>: {{firstname}} {{lastname}}</p>
                        <p><b>Email</b>: {{email}}</p>
                        <p><b>Mobile</b>: {{phone}}</p>
                    </div>
                </div>
                <div class="right">
                    <div class="right-details">
                        <h3>{{formattedDate}}</h3>
                        <h4>{{formattedMonth}}</h4>
                        <h5>{{formattedTime}}</h5>
                        <hr>
                        <p>{{venue}}</p>
                    </div>
                </div>
            </div>
            <div class="footer">
                <svg width="246" height="40" viewBox="0 0 246 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M18.036 32.816C23.436 32.816 27.756 29.036 27.756 20.558C27.756 12.08 24.3 7.598 18.036 7.598C11.718 7.598 8.208 12.08 8.208 20.558C8.208 29.036 11.826 32.816 18.036 32.816ZM18.036 39.242C7.02 39.242 0.81 32.492 0.81 20.396C0.81 8.246 7.02 0.955997 18.036 0.955997C29.052 0.955997 35.154 8.246 35.154 20.558C35.154 32.87 29.052 39.242 18.036 39.242ZM66.6318 38H59.7198L44.3838 13.916V38H37.4178V2.144H45.3558L59.6118 25.202V2.144H66.6318V38ZM94.5941 38H69.3221V2.144H76.8281V31.466H94.5941V38ZM105.412 38H97.9062V24.446L85.4862 2.144H94.2342L101.794 16.724L108.76 2.144H117.4L105.412 24.554V38ZM126.287 31.898H135.791C139.247 31.898 141.299 29.684 141.299 26.768C141.299 23.636 139.247 22.232 135.899 22.232H126.287V31.898ZM135.305 8.354H126.287V16.13H135.737C138.707 16.13 140.273 14.78 140.273 12.242C140.273 9.488 138.815 8.354 135.305 8.354ZM135.197 38H119.051V2.144H136.709C143.729 2.144 147.509 5.924 147.509 11.918C147.509 14.996 145.619 17.588 143.135 18.614C146.159 19.748 148.589 22.178 148.589 27.308C148.589 33.842 144.215 38 135.197 38ZM177.274 38H150.058V2.144H176.41V8.408H157.348V16.076H174.898V22.394H157.348V31.628H177.274V38ZM206.015 38H178.799V2.144H205.151V8.408H186.089V16.076H203.639V22.394H186.089V31.628H206.015V38ZM234.971 12.728H227.843C227.465 9.056 225.251 7.274 220.715 7.274C216.503 7.274 214.289 8.786 214.289 11.486C214.289 13.754 215.855 15.05 219.851 16.022C223.901 16.994 227.843 17.966 230.489 19.154C233.621 20.558 236.105 22.772 236.105 27.848C236.105 35.732 230.165 39.242 221.795 39.242C212.939 39.242 206.783 35.3 206.621 27.254H213.857C213.965 30.926 217.043 33.194 221.849 33.194C226.277 33.194 228.815 31.304 228.815 28.118C228.815 26.012 227.735 24.554 223.253 23.582C218.825 22.61 215.963 21.962 213.425 20.828C209.591 19.1 207.431 16.508 207.431 11.972C207.431 5.546 211.805 0.955997 220.553 0.955997C229.625 0.955997 234.701 5.87 234.971 12.728ZM245.051 38H237.545V30.71H245.051V38Z"
                        fill="white" />
                </svg>

            </div>
        </div>
    </div>
</body>

</html>