<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booking Confirmation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 10px;
            width: 600px;
            margin: auto;
        }
        .header {
            background-color: #6A1B9A;
            color: white;
            padding: 10px;
            border-radius: 10px 10px 0 0;
        }
        .content {
            padding: 20px;
        }
        .details {
            margin: 10px 0;
        }
        .qr-code {
            text-align: center;
        }
        .qr-code img {
            width: 100px;
            height: 100px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Booking Confirmation</h1>
        </div>
        <div class="content">
            <p>{{userName}}, your booking has been confirmed!</p>
            <div class="qr-code">
                <h2>QR Code</h2>
                <img src="cid:qrCodeImage" alt="QR Code"> <!-- Reference the CID here -->
            </div>
            </div>
            <div class="details">
                <h2>Booking Details</h2>
                <p>Order Amount: INR {{orderAmount}}</p>
                {{!-- <p>Application Fee & Taxes: INR {{feeAndTaxes}}</p> --}}
                {{!-- <p>Total: INR {{totalAmount}}</p> --}}
            </div>
            {{!-- <div class="details">
                <h2>Event Details</h2>
                <p>Name: {{eventName}}</p>
                <p>Venue: {{eventVenue}}</p>
                <p>Date & Time: {{eventDateTime}}</p>
            </div> --}}
            <div class="details">
                <h2>Ticket Details</h2>
                <p>Name: {{userName}}</p>
                <p>Email: {{userEmail}}</p>
                <p>Mobile: {{userPhone}}</p>
            </div>
            <div class="details">
                <h2>Booking ID</h2>
                <p>{{bookingId}}</p>
            </div>
        </div>
    </div>
</body>
</html>
